.chat-main
  .chat-main__group
    .chat-main__group__left
      %p.chat-main__group__left__group-name
        グループ名
      %p.chat-main__group__left__group-list
        メンバー一覧
    .chat-main__group__right
      = link_to "Edit", "#" , class: "edit-btn"

  .chat-main__list
    .chat-main__list__top
      %p.chat-main__list__top__name
        q
      %p.chat-main__list__top__date
        2020/03/25(Wed) 16:46:34
    .chat-main__list__text
      %p.chat-main__list__text
        hello
    .chat-main__list__top
      %p.chat-main__list__top__name
        q
      %p.chat-main__list__top__date
        2020/03/25(Wed) 16:46:34
    .chat-main__list__text
      %p.chat-main__list__text
        hello
    .chat-main__list__top
      %p.chat-main__list__top__name
        q
      %p.chat-main__list__top__date
        2020/03/25(Wed) 16:46:34
    .chat-main__list__text
      %p.chat-main__list__text
        hello
    .chat-main__list__top
      %p.chat-main__list__top__name
        q
      %p.chat-main__list__top__date
        2020/03/25(Wed) 16:46:34
    .chat-main__list__text
      %p.chat-main__list__text
        hello
    .chat-main__list__top
      %p.chat-main__list__top__name
        q
      %p.chat-main__list__top__date
        2020/03/25(Wed) 16:46:34
    .chat-main__list__text
      %p.chat-main__list__text
        hello

  .chat-main__form
    .chat-main__form__input
      %input{type: "text", placeholder: "type a message", class: "input-message"}
      %label{class: "input-image"}
        = icon('fas', 'image')
        %input{type: "file", class: "file-btn"}
    %input{type: "submit", value: "send", class: "submit-btn"}